{template 'public/header'}
{template 'public/comhead'}

<style type="text/css">
    .nav-tabs>li>a:hover{
        color: #333;
        border-color: #31C2A5;
        background-color: white;
    }
    .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
        background-color: #31C2A5;
        color: white;
        border-color: #31C2A5;
    }
    .nav.nav-tabs{border-color: #31C2A5;margin-top: 30px;}
    .panel-default>.panel-heading{font-weight: bold;background-color: #F3F3F3;}
    .ygmartop{margin-top: 30px;}
    .ygmartop2{margin-bottom: 10px;}
    .yg5_key>div{float: left;line-height: 34px;}
    .store_td1{height: 45px;}
    .store_list_img{width: 60px;height: 60px;}
    .yg5_tabel{border-color: #e5e5e5;outline: 1px solid #e5e5e5;}
    .yg5_tr2>td{padding: 15px;border: 1px solid #e5e5e5;text-align: center;background-color: white;}
    .yg5_tr1>td{
        border: 1px solid #e5e5e5;
        padding-left: 15px;
        background-color: #FAFAFA;
        font-weight: bold;
        text-align: center;
    }
    .yg5_btn{background-color: #EEEEEE;color: #333;border: 1px solid #E4E4E4;border-radius: 6px;width: 100px;height: 34px;}
    .yg5_btn2{background-color: white;color: #333;border: 1px solid white;border-radius: 6px;width: 100px;height: 34px;}
    .yg13_img{width: 50px;height: 50px;border-radius: 4px;}
    .yg_name{width: 100px;height: 34px;line-height: 34px;color: #333;float: left;background-color: white;border: 1px solid #E4E4E4;text-align: center;}
    .yg_left{float: left;}
    .form-control{width: 50%;}
</style>
<ul class="nav nav-tabs">    
    <li class="active"><a href="{php echo $this->createWebUrl('dishes')}">菜品管理</a></li>
    <li><a href="{php echo $this->createWebUrl('adddishes')}">添加菜品</a></li>
</ul> 
   <div class="row ygmartop">
        <form action="" method="POST" class="col-md-12">
            <div class="col-md-6">
                    <div class="yg_name">菜品名称</div>
                    <input type="text" name="keywords" class="form-control yg_left" placeholder="请输入菜品名称"> 
            </div>
            <div class="col-md-6 ygmartop2">
                <div class="input-group">
                    <div class="yg_name">
                        菜品类型
                    </div>
                    <select style="width: 200px;color: #333;" name="dishes_type">
                        <option value="">不限</option>
                        <option value="1">外卖</option>
                        <option value="2">店内</option>
                        <option value="3">店内+外卖</option>
                    </select>                
                </div>
            </div>
            <div class="col-md-6 ygmartop2">
                <div class="input-group" style="width: 300px;">
                    <div class="yg_name">
                        菜品状态
                    </div>
                    <select style="width: 200px;color: #333;" name="is_shelves">
                      <option value="">不限</option>
                      <option value="1">已上架</option>
                      <option value="2">已下架</option>
                    </select>                
                </div>
            </div>
            <div class="col-md-6">
            <input type="submit" value="搜索" name="submit" class="btn btn-primary btn-sm"/>
            <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </form>
  </div>

<div class="main">
    <div class="panel panel-default">
        <div class="panel-heading">
            菜品列表
        </div>
        <div class="panel-body" style="padding: 0px 15px;">
            <div class="row">
                <table class="yg5_tabel col-md-12">
                    <tr class="yg5_tr1">
                        <td class="store_td1 col-md-1">序号</td>
                        <td class="col-md-1">类型</td>
                        <td class="col-md-1">商品名称</td>
                        <td class="col-md-1">分类</td>
                        <td class="col-md-1">店内价格</td>
                         <td class="col-md-1">外卖价格</td>
                        <td class="col-md-1">餐盒费</td>
                        <td class="col-md-1">库存</td>
                        <td class="col-md-1">总销量</td>
                        <td class="col-md-1">是否上架</td>
                        <td class="col-md-2">操作</td>
                    </tr>
                     {loop $list $key $item}
                    <tr class="yg5_tr2">
                        <td class="store_td1 col-md-1"> {$item['id']}</td>
                        {if $item['dishes_type']==2}
                      <td> <span class="label label-info">店内菜品</span></td>
                      {elseif $item['dishes_type']==1}
                      <td> <span class="label label-success">外卖菜品</span></td>
                      {elseif $item['dishes_type']==3}
                      <td>  <span class="label label-warning">店内+外卖</span></td>
                      {/if}
                        <td class="col-md-1"> {$item['name']}</td>
                         <td class="col-md-1"> {$item['type_name']}</td>
                        <td class="col-md-1"> {$item['money']}</td>
                        <td class="col-md-1"> {$item['wm_money']}</td>
                        <td class="col-md-1"> {$item['box_fee']}</td>
                        <td class="col-md-1"> {$item['num']}</td>
                        <td class="col-md-1"> {$item['xs_num']}</td>
                         <td class="col-md-1">
                            {if $item['is_shelves']==1}
                              <button  type="button"  data-toggle="modal" data-target="#myModal3{$item['id']}" class="btn btn-sm btn-warning">点击下架</button>
                            {elseif $item['is_shelves']==2}
                            <button type="button"  data-toggle="modal" data-target="#myModal2{$item['id']}" class="btn btn-sm btn-success">点击上架</button>
                            {/if}
                            </td>
                                
                            <td class="col-md-2"><a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('adddishes', array('id' => $item['id']))}" title="编辑">编辑</a>&nbsp;&nbsp;<a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('spec',array('dishes_id' => $item['id']));}" title="添加规格">添加规格</a>&nbsp;&nbsp;<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal{$item['id']}">删</button></td>
                        </tr>                          
                     
                    <div class="modal fade" id="myModal{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                        </div>
                        <div class="modal-body" style="font-size: 20px">
                            确定删除么？
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a href="{php echo $this->createWebUrl('dishes', array('op' => 'delete', 'delid' => $item['id']))}" type="button" class="btn btn-info" >确定</a>
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="modal fade" id="myModal2{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                        </div>
                        <div class="modal-body" style="font-size: 20px">
                            确定上架么？
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a href="{php echo $this->createWebUrl('dishes',array('id'=>$item['id'],'is_shelves'=>1));}" type="button" class="btn btn-info" >确定</a>
                        </div>
                    </div>
                </div>
            </div>

             <div class="modal fade" id="myModal3{$item['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                        </div>
                        <div class="modal-body" style="font-size: 20px">
                            确定下架么？
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a href="{php echo $this->createWebUrl('dishes',array('id'=>$item['id'],'is_shelves'=>2));}" type="button" class="btn btn-info" >确定</a>
                        </div>
                    </div>
                </div>
            </div>
                {/loop}
                {if empty($list)}
                <tr class="yg5_tr2">
                    <td colspan="11">
                      暂无菜品信息
                    </td>
                </tr>
                {/if}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="text-right we7-margin-top">
             {$pager}
             </div>
<!-- {template 'common/footer'} -->
